<template>
<div>
    <h1> MY book loans </h1>
    <input type="checkbox" @click="filter()" value="Show opened"> Show closed<br>
    <table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Code</th> 
        <th>Start date</th>
        <th>Due date</th>
        <th>Times extended</th>
        <th>Action </th>
    </tr>
    <tr v-for="book in books" :key ="book.title">
        <td>{{book.title}}</td>
        <td>{{book.code}}</td>
        <td>{{book.start}}</td>
        <td>{{book.due}}</td>
        <td>{{book.extended}}</td>
        <td><button @click="extend(book.title)" :id="['extend_' + book.title]">extend</button></td>
    </tr>
    </table>

    {{message}}

</div>
</template>

<script>
import axios from "axios"

export default {
    data: function(){
        return {
            books: [],
            openedbooks: [],
            message: "",
            showopened: false
        }
        
    },
    methods: {
        extend: function(title) {
            console.log(title);
            axios.post("api/extend", {
                book: title
            }).then(response => {
                this.message = response.data.message
                this.init()
            }).catch(error => console.log(error))
        },
        filter: function(){
            console.log(this.openedbooks);

            if(this.showopened ==false ){
                this.openedbooks = this.books.filter(function(el) {
                    return el.open == "false"
                })
                var lambi = this.books
                this.books = this.openedbooks
                this.openedbooks = lambi
                this.showopened = true
            }
            else{
                var lambi = this.openedbooks
                this.books = this.openedbooks
                this.openedbooks = lambi
                this.showopened = false
            }
            
        },
        init:function(){
            axios.get("api/books").then(response => 
        this.books = response.data.books,
        ).catch(error => console.log(error))

        }
        

    },
    mounted: function() {
        this.init()
    }
}
</script>
